

.products {
    position: relative;
    padding: 0 5px;
    text-align: center
}

.products .swiper-wrapper {
    height: auto
}

.tabContent .products {
    text-align: left;
    margin-bottom: 20px
}

.products .product.set {
    margin-right: 5px;
    margin-bottom: 5px
}

.product {
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 150px;
    padding: 5px 12px 15px;
    transition: border-color .15s;
    text-align: center;
    vertical-align: top;
    border: 1px solid transparent;
    background: #fff
}

.product.rubric-prod {
    height: auto
}

.product a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #7f7f7f
}

.product figure span.product_img {
    display: block;
    height: 170px
}

.product figure span.product_img:before {
    display: inline-block;
    width: 0;
    height: 170px;
    content: ' ';
    vertical-align: middle
}

.product figure span.product_img img {
    max-width: 140px;
    max-height: 170px;
    vertical-align: middle
}

.product figure figcaption h3, .product figure figcaption span.productHeader {
    display: block;
    overflow: hidden;
    /*height: 30px;*/
    margin: 0 5px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product .productArticule,
.product .productAvailability{
    display: block;
    color: #757575;
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
}

.product .productAvailability-yes {
    color: #159b09;
    font-weight: 700;
}

.product .productAvailability-no {
    color: #9b0909;
    font-weight: 700;
}

.prod-eco {
    color: #549500
}

.prod-icon-eco a {
    color: #fff
}

.product figure figcaption p, .product figure figcaption span.productDescription {
    display: block;
    overflow: hidden;
    /*height: 25px;*/
    margin: 0 5px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 17px;
}

.product figure figcaption span.productDescription--hide {
    display: none
}

.product .price {
    display: inline-block;
    zoom: 1;
    margin-top: 6px;
    color: #f36f3c;
    font-size: 30px;
}

.product .labels {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 10px;
    line-height: 1;
    width: 44px;
    height: 79px;
    background: url(../../../images/new-label.png) 0 0 no-repeat;

}

.product small.rest {
    display: block;
    margin-top: 5px;
    transition: opacity .15s;
    opacity: 0;
    color: #7f7f7f;
    background: #fff;
    font-size: .78125em
}

.product small.rest--vis {
    opacity: 1
}

.product small.rest--vis:first-of-type {
    color: #000
}

.product button {
    display: none;
    visibility: hidden;
    width: 115px;
    transition: opacity .15s;
    opacity: 0;
    background: #e05a65
}

.product button:hover {
    background: #bb3742
}

.product button span.count {
    right: -28px
}

.product.set button {
    visibility: visible
}

.touch .product button {
    visibility: visible;
    opacity: 1
}

.touch .lt-ie9 .product button {
    filter: Alpha(opacity=100)
}

.lt-ie9 .product button {
    filter: Alpha(opacity=0)
}

.product.set {
    width: 200px;
    margin: 0 0 10px;
    padding: 20px;
    text-align: left;
    border-color: #e5e5e5
}

.product-kit-item, .product.product-kit-item {
    width: 149px;
    text-align: center;
    margin: 10px 12px;
    transition: border-color .15s ease-out
}

.product-kit-item .count, .product.product-kit-item .count {
    opacity: 0;
    transition: opacity .15s ease-out
}

.touch .product-kit-item .count, .touch .product.product-kit-item .count {
    opacity: 1
}

.product-kit-item button {
    opacity: 1;
    display: block;
    margin: 20px auto 0
}

.product-kit-item__img {
    height: 140px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.product.set article.product {
    padding: 0;
    border: 0
}

.product.set .plus {
    margin: 8px 0 10px 40px;
    color: #000
}

.product.set figure span.product_img {
    width: 30px;
    height: auto;
    text-align: center
}

.product.set figure span.product_img:before {
    display: none
}

.product.set figure figcaption h3 {
    margin-bottom: 3px
}

.product.set div .price {
    height: auto;
    margin-top: 0;
    font-size: 2.1em
}

.product.set div .price .oldPrice {
    font-size: .57em
}

.product.set button {
    width: 125px;
    opacity: 1
}

.product.set .price {
    position: relative;
    display: block
}

.product.showButton button {
    visibility: visible;
    opacity: 1
}

.lt-ie9 .product.showButton button {
    filter: Alpha(opacity=100)
}

.product.showBorder {
    border-color: #e5e5e5 !important
}

.lt-ie9 .product.set button {
    filter: Alpha(opacity=100)
}


/***************************/
/***************************/
/***************************/


.price {
    color: #000
}

.price small {
    display: block;
    color: #8f8f8f;
    font-size: 11px
}

.price .priceWrap, .price b {
    position: relative;
    text-transform: uppercase;
    font-weight: 700
}

.price .priceWrap .font-icon-certificate, .price b .font-icon-certificate {
    position: absolute;
    top: -5px;
    right: -10px;
    color: #bb3742
}

.price .priceWrap span.oldPrice, .price b span.oldPrice {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -.45em;
    margin-right: 5px;
    font-size: .7em
}

span.oldPrice {
    position: relative;
    overflow: hidden;
    zoom: 1;
    white-space: nowrap;
    color: #404040;
    font-weight: 700;
    line-height: 1
}

span.oldPrice i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    border-top: 2px solid #bb3943
}

.h2, h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.61em;
}

.h2, .h3, h2 {
    color: #000;
    font-weight: 700
}

.h3 {
    font-size: 1.41em
}

.whiteBlock {
    border-bottom: 1px solid #e1e1e1;
    background: #fff
}

.whiteBlock.noPaddingBottom {
    padding-bottom: 0
}

.whiteBlock.noBorder {
    border: 0
}


.mainPromo {
    margin-bottom: 20px
}

.bigPromo, .mainPromo {
    position: relative;
    zoom: 1
}

bigPromo, .mainPromo {
    position: relative;
    zoom: 1
}

.bigPromo {
    overflow: hidden;
    height: 410px
}

.bigPromo img {
    height: 360px;
    min-height: 100%;
    width: auto;
    max-width: none;
}

.bigPromo.active img {
    opacity: 1
}

.bigPromo div.caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 205px;
    height: 100%;
    padding: 0 15px;
    text-align: center
}

.bigPromo div.caption i.tail {
    position: absolute;
    top: 50%;
    left: -17px;
    width: 18px;
    height: 33px;
    margin-top: -11px;
    background: url(//static.delikateska.ru/images/promo_caption_tail.png)
}

.bigPromo div.caption div.bg {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: .75;
    background: #fff
}


.whiteBlock {
    border-bottom: 1px solid #e1e1e1;
    background: #fff
}


.bigPromo div.caption .caption_text {
    position: relative;
    z-index: 1;
    margin-top: 25px
}

.bigPromo div.caption .caption_text h3 {
    margin-bottom: 20px;
    color: #000;
    font-size: 1em
}

.bigPromo div.caption .caption_text p {
    margin-bottom: 20px;
    padding: 0 15px;
    line-height: 1.85em
}

.bigPromo div.caption .caption_text .price {
    display: block;
    margin-bottom: 10px;
    font-size: 1.84em
}

.mainPromo .sidePromotion {
    position: absolute;
    top: 0;
    right: 0;
    width: 262px
}

.mainPromo .sidePromotion .sidePromotion_title {
    position: relative;
    background-color: #f36f3c;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 13px 0;
    font-weight: 700;
    text-align: center;
}

.sidePromotion .quantity {
    margin-bottom: 4px;
}

.mainPromo .sidePromotion .sidePromotion_title::after {
    content: '';
    position: absolute;
    z-index: 999;
    bottom: -12px;
    margin-left: -6px;
    left: 50%;
    border: 6px solid transparent;
    border-top-color: #f36f3c;
}

.mainPromo .sidePromotion .sliderControls {
    top: 0;
    right: 10px
}

.mainPromo .sidePromotion.fullWidth {
    position: static;
    width: auto
}

.mainPromo .sidePromotion.fullWidth .sidePromosSliderWrap {
    width: auto
}

.mainPromo .sidePromotion .sidePromosSliderWrap {
    width: 262px;
    margin: 0 auto
}

.mainPromo .sidePromotion h2 {
    margin-bottom: 10px
}

.mainPromo .sidePromotion article.product {
    padding-top: 0;
    padding-bottom: 0;
}

.mainPromo .sidePromotion .bx-next.disabled {
    display: none
}


.noProducts .promosSwitcher {
    margin-right: 0
}

.swiper-pagination.promos-pagination {
    position: static;
    display: none;
    margin-top: 0;
    padding: 10px 20px 15px;
    border-top: 1px solid #e1e1e1;
    background: #f8f8f8
}

.swiper-pagination.promos-pagination .swiper-pagination-bullet.swiper-pagination-bullet {
    margin: 0 3px;
    opacity: 1;
    background: #e5e5e5
}

.swiper-pagination.promos-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #fff;
    background: #bb3742
}








/***********************************************************/
/***********************************************************/
/***********************************************************/

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

/*.swiper-button-next, .swiper-button-prev {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*width: 10px;*/
    /*height: 20px;*/
    /*margin-top: -22px;*/
    /*z-index: 10;*/
    /*cursor: pointer;*/
    /*background-size: 27px 44px;*/
    /*background-position: 50%;*/
    /*background-repeat: no-repeat*/
/*}*/

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0, 0%, 100%, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube, .swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
    animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes swiper-preloader-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.swiper-container--default, .swiper-container--low {
    margin-top: -50px;
    padding-top: 50px
}

.swiper-container--blog, .swiper-container--gallery, .swiper-container--good-of-day, .swiper-container--good-of-day--tablet, .swiper-container-cart {
    margin-top: -45px;
    padding-top: 45px
}

.cart-slider .swiper-wrapper, .swiper-container--blog .swiper-wrapper, .swiper-container--default .swiper-wrapper, .swiper-container--good-of-day--tablet .swiper-wrapper, .swiper-container--good-of-day .swiper-wrapper, .swiper-container--low .swiper-wrapper, .swiper-container .swiper-container--gallery, .time-table-swiper-container .swiper-wrapper {
    width: 20000px
}

.swiper-wrapper .product {
    box-sizing: border-box;
    width: 174px;
}

.swiper-container--good-of-day .product {
    padding-right: 0;
    padding-left: 0
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    z-index: 10;
    top: 21px;
    width: auto;
    height: auto;
    color: #fff !important;
    background-image: none !important;
    background: transparent;
    font-size: 32px !important
}

.swiper-container .swiper-button-next {
    right: 10px;
}

.swiper-wrapper--to-start {
    transition: all .15s ease-out;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important
}

.swiper-button-next {
    right: 20px
}

.swiper-button-prev {
    right: 70px;
    left: auto
}

.swiper-button-next--new-product {
    top: 25px;
    right: 0
}

.swiper-container--gallery .swiper-button-prev {
    right: 30px
}

.swiper-container--gallery .swiper-button-next {
    right: 0
}

.swiper-low-width {
    max-width: 540px
}

.otherPosts .swiper-container--blog .smallBlogCard {
    box-sizing: border-box;
    margin-right: 0
}

.swiper-container--blog .smallBlogCard img {
    width: 100%
}

@media (max-width: 1225px) {
    .swiper-button-prev {
        right: 30px
    }

    .swiper-button-next {
        right: 0
    }
}

@media (max-width: 1125px) {
    .swiper-button-next--new-product, .swiper-container--good-of-day {
        /*display: none*/
    }
}

@media (max-width: 767px) {
    .swiper-button-next {
        right: 10px
    }

    .swiper-button-prev {
        right: 50px
    }
}

@media (min-width: 1125px) {
    .swiper-container--good-of-day--tablet, .swiper-promo__alternative-controls {
        display: none
    }
}


/**************badge****************/

.badge {
    display: block;
    zoom: 1;
    margin-bottom: 1px;
    padding: 5px 8px 4px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    background: none;
}

.badge.new {
    background: #95b523
}

.badge.superprice {
    background: #ffcd34
}

.badge.hit {
    background: #bb3742
}

.product .labels a {
    position: absolute;
    top: 22px;
    left: -20%;
    transform: rotate(-90deg);
}

.badge.kit {
    background: #0070bb
}


/*************************************/
/*************************************/
/*************************************/

.promosSwitcher {
    position: relative;
    zoom: 1;
    margin-right: 262px;
}

.promosSwitcher .bigPromo {
    margin-right: 261px;
}

.promosSwitcher .bigPromo.active {
    position: relative;
    display: block;
    visibility: visible
}

.promosSwitcher .promosList {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 261px;
    height: 100%;
    text-align: center
}

.promosSwitcher .promosList a {
    position: relative;
    display: block;
    width: auto;
    height: 58px;
    margin-top: 0;
    padding: 0;
    transition: color .15s;
    text-align: center;
    text-decoration: none;
    color: #63686f;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.promosSwitcher .promosList a:first-child {
    border-top: none;
}

.promosSwitcher .promosList a span {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 1.38;
    font-size: 13px;

}

.promosSwitcher .promosList a:before {
    position: relative;
    display: inline-block;
    height: 118px;
    content: '';
    vertical-align: middle;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.promosSwitcher .promosList a.active {
    z-index: 100;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, .2);*/
    background: #f36f3c;
}

.promosSwitcher .promosList a:hover {
    color: #f36f3c;
}

.promosSwitcher .promosList a.active {
    color: #fff;
    background: #f36f3c;
}

.promosSwitcher .promosList a.active:hover {
    z-index: 99
}

.promosSwitcher .promosList a.active:after {
    position: absolute;
    top: 0;
    left: -26px;
    width: 0;
    height: 0;
    content: '';
    border-width: 59px 26px 59px 0;
    border-style: solid;
    border-color: transparent #f36f3c transparent transparent;
}

.promosSwitcher .promosList.size_2 a, .promosSwitcher .promosList.size_2 a:before {
    height: 178px
}

.promosSwitcher .promosList.size_2 a.active:after, .promosSwitcher .promosList.size_2 a:hover:after {
    border-width: 89px 26px 89px 0
}

.promosSwitcher .promosList.size_4 a, .promosSwitcher .promosList.size_4 a:before {
    height: 88px
}

.promosSwitcher .promosList.size_4 a.active:after, .promosSwitcher .promosList.size_4 a:hover:after {
    top: -2px;
    border-width: 46px 26px 46px 0
}

.promosSwitcher .promosList.size_5 a, .promosSwitcher .promosList.size_5 a:before {
    height: 71px
}

.promosSwitcher .promosList.size_5 a.active:after, .promosSwitcher .promosList.size_5 a:hover:after {
    border-width: 35px 26px 35px 0
}

.promosSwitcher .promosList.size_6 a, .promosSwitcher .promosList.size_6 a:before {
    height: 59px
}

.promosSwitcher .promosList.size_6 a.active:after, .promosSwitcher .promosList.size_6 a:hover:after {
    border-width: 29px 26px 29px 0
}

.promosSwitcher .promosList.size_7 a, .promosSwitcher .promosList.size_7 a:before {
    height: 58px
}

.promosSwitcher .promosList.size_7 a:nth-child(2n) {
    height: 59px;
}

.promosSwitcher .promosList.size_7 a.active:after, .promosSwitcher .promosList.size_7 a:hover:after {
    border-width: 29px 26px 29px 0
}

@media (max-width: 1125px) {
    .promosSwitcher {
        margin-right: 0
    }

    .mainPromo .sidePromotion {
        position: relative;
        width: auto;
        border-top: 20px solid #f8f8f8
    }

    .mainPromo .sidePromotion .sidePromosSliderWrap {
        width: auto
    }
}

@media (min-width: 768px) {
    .mobile-visible {
        display: none;
    }
}

@media (max-width: 767px) {
    .promosSwitcher .promosList {
        display: none
    }

    .promosSwitcher .bigPromo {
        margin-right: 0
    }

    .swiper-pagination.promos-pagination {
        display: block
    }

    .mainContent .mainPromo .sidePromotion {
        border-top: 0;
        margin-top: 20px
    }

    .mainPromo {
        margin-bottom: 0
    }
}

@media (max-width: 520px) {
    .bigPromo, .bigPromo img {
        height: 180px
    }
}


[class*=" font-icon-"]:before, [class^=font-icon-]:before {
    font-family: font-icon;
    font-style: normal;
    width: 20px;
    height: 20px;
    background-color: #eee;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/**********************special menu < 767px********************/
@media (max-width: 767px) {

    .promo-block-special-menus-ctn .specialMenus {
        position: static
    }

    .promo-block-special-menus-ctn {
        border-bottom: 1px solid #f2f2f2;
        background: #f8f8f8;
        font-size: 0;
    }

    .promo-block-special-menus-ctn .special-menu-item {
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        padding: 10px 20px;
        text-align: center;
        vertical-align: middle;
        background: #fff;
        font-size: 15px;
    }

    .promo-block-special-menus-ctn .special-menu-item:first-of-type {
        border-right: 1px solid #f2f2f2
    }

    .promo-block-special-menus-ctn .special-menu-item__link {
        margin: 0;
        text-transform: uppercase;
        opacity: 1;
        background-size: 30px
    }

    .specialMenus a {
        display: inline-block;
        margin-bottom: 9px;
        padding: 8px 0 8px 38px;
        transition: opacity .15s;
        text-decoration: none;
        opacity: .75;
        background: no-repeat 0;
        font-weight: 700;
        filter: Alpha(opacity=75)
    }

    .specialMenus a:hover {
        opacity: 1;
        filter: Alpha(opacity=100)
    }

    .specialMenus a.actionsLink {
        padding-left: 37px;
        background-image: url(../../../images/discount_icon.svg)
    }

    .specialMenus a.newbieLink {
        color: #e7922f;
        background-image: url(../../../images/newbie_icon.svg)
    }

}

/***************************/
/***************************/
/***************************/

/*.product:hover {*/
    /*border-color: #e5e5e5*/
/*}*/

/*.product:hover button {*/
    /*display: block;*/
    /*visibility: visible;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*opacity: 1*/
/*}*/

/*.product:hover small.rest {*/
    /*opacity: 1*/
/*}*/

/*.product:hover small.rest--vis {*/
    /*display: none;*/
    /*opacity: 0*/
/*}*/

/*.product:hover span.productDescription {*/
    /*display: none*/
/*}*/

/*.product-kit-item:hover span.productDescription, .product:hover span.productDescription--hide {*/
    /*display: block*/
/*}*/

/*.product:hover .prod_fav {*/
    /*opacity: 1*/
/*}*/

/*.lt-ie9 .product:hover button, .lt-ie9 .product:hover small.rest {*/
    /*filter: Alpha(opacity=100)*/
/*}*/



/*@media only screen and (max-device-width: 1024px) {*/
    /*.product button {*/
        /*display: block;*/
        /*visibility: visible;*/
        /*margin: 5px auto 0;*/
        /*opacity: 1;*/
        /*width: auto;*/
        /*max-width: none*/
    /*}*/

    /*.product small.rest--vis {*/
        /*display: none*/
    /*}*/

    /*.prod_fav {*/
        /*opacity: 1*/
    /*}*/

    /*.prod_fav span.prod_fav__heart {*/
        /*display: inline-block;*/
        /*width: 24px;*/
        /*height: 22px;*/
        /*vertical-align: middle;*/
        /*background: url(//static.delikateska.ru/images/heart_gr.png) no-repeat 50%*/
    /*}*/

    /*.prod_fav.active span.prod_fav__heart {*/
        /*background: url(//static.delikateska.ru/images/heart.png) no-repeat 50%*/
    /*}*/
/*}*/
