.banner_title_nowrap,
.banner_title_whitewrap,
.banner_title_blackwrap,
.banner_desc_nowrap,
.banner_desc_blackwrap,
.banner_desc_whitewrap {
    display: inline;
    word-break: normal;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    position: relative;
    font-weight: 300;
    font-family: "Helvetica", sans-serif;
}

.banner_title_nowrap,
.banner_title_whitewrap,
.banner_title_blackwrap {
    font-size: 36px;
    line-height: 56px;
    color: #0084c9;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.banner_desc_nowrap,
.banner_desc_blackwrap,
.banner_desc_whitewrap {
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
}

.banner_title_whitewrap {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0084c9;
    box-shadow: 18px 0 0 rgba(255, 255, 255, 0.8),
        -10px 0 0 rgba(255, 255, 255, 0.8);
}

.banner_title_blackwrap {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 18px 0 0 rgba(0, 0, 0, 0.5),
        -10px 0 0 rgba(0, 0, 0, 0.5);
}

.banner_desc_blackwrap {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 18px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
}

.banner_desc_whitewrap {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0084c9;
    box-shadow: 18px 0 0 rgba(255, 255, 255, 0.8), -10px 0 0 rgba(255, 255, 255, 0.8);
}

@media(max-width: 992px) {
    .banner_title_whitewrap {
        box-shadow: 1.76vw 0 0 rgba(255, 255, 255, 0.8),
            -1vw 0 0 rgba(255, 255, 255, 0.8);
        padding: 0.5vw 0;
    }
    .banner_title_blackwrap {
        box-shadow: 1.76vw 0 0 rgba(0, 0, 0, 0.5),
            -1vw 0 0 rgba(0, 0, 0, 0.5);
        padding: 0.5vw 0;
    }
    .banner_desc_blackwrap,
    .banner_desc_whitewrap {
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
    }
}

#grafikRaboty, #buyMore
{
    padding:20px;
    background: #f36f3c;
    color: white;
}
#buyMore{text-align: center;  background: #fff; color:#999;}


#popupOrderDiv {
    color: #000;
    max-width:1000px;
}
#popupOrderDiv h2 {border-bottom:1px #bbb solid;line-height:1.5em;}
.order_props, .delivery_payment {margin: 1px 20px;}
#popupOrderDiv  input[type="radio"] {margin:1px;}
.order_props input, .order_props select , .order_props textarea{ width:95%; }
.prop_LOCATION {display:none;}
.order_props{margin-top:25px;}
.table-order td.rdbtn {width:5%;}

#popupOrderDiv .panel-body {padding:1px 40px;}
#popupOrderDiv .form-control {height:25px;}
#popupOrderDiv  .table-order td.img img {width:140px;}


/*.products.showcase .item .name:not(.bigdata):not(.recomend) {
    min-height: 185px;
}*/

.products.showcase .item .name .previewtext {
    min-height: 50px;
}

.seoText h2 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.61em;
}

/*------------------------------------------------------------previe img on basket*/


.dropdown-basketinhead .dropdown-smallbasket table td.picture img {
  width: auto;

}
