/*header вход*/
#ddEntry {
    display: inline-block;
    line-height: 21px;
    margin-left: 17px;
    padding-left: 25px;
    position: relative;
}

header .auth {
    width: 272px;
}

header .box {
    position: relative;
}

.contacts_title {
    font-size: 14px;
}

#ddEntry::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 16px;
    height: 20px;
    background: url(images/icon-entry.png) no-repeat 0 0;
}

/**********************************
pop-up
**********************************/

.c-popup {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    /*margin-left: -206px;*/
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 412px;
    background-color: #FFF;
    box-sizing: border-box;
    line-height: 1;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    display: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.c-popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}


.c-popup_link {
    color: #585f69;
    font-size: 14px;
    text-decoration: underline;
}

.c-popup_note {
    margin-top: 6px;
    font-size: 12px;
    color: #9da0a5;
}
.c-form .c-form_note-example {
    display: inline-block;
    color: #9DA0A5;
    font-size: 12px;
    font-weight: 300;
}

/*сетка колонок*/
.c-popup_row {
    font-size: 0;
}

.c-popup_col {
    padding-right: 4px;
}

.c-popup_col:last-child {
    padding-right: 0;
    padding-left: 4px;
}

.c-popup_col-4 {
    display: inline-block;
    width: 38%;
}

.c-popup_col-5 {
     display: inline-block;
     width: 44%;
 }

.c-popup_col-6 {
    display: inline-block;
    width: 50%;
}

.c-popup_col-7 {
    display: inline-block;
    width: 56%;
}

.c-popup_col-8 {
    display: inline-block;
    width: 62%;
}

.c-popup_close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 11px;
    top: 15px;
    cursor: pointer;
}

.c-popup_close div {
    width: 14px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
}

.c-popup_close div:first-child {
    -webkit-transform: rotate(40deg) translateY(-50%);
    -moz-transform: rotate(40deg) translateY(-50%);
    -ms-transform: rotate(40deg) translateY(-50%);
    -o-transform: rotate(40deg) translateY(-50%);
    transform: rotate(40deg) translateY(-50%);
    /*left: -1px;*/
}

.c-popup_close div:last-child {
    -webkit-transform: rotate(-45deg) translateY(-50%);
    -moz-transform: rotate(-45deg) translateY(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%);
    -o-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    left: 1px;
}

.c-popup * {
    box-sizing: border-box;
}

.c-popup_header {
    background-color: #95a1a8;
    border: 1px solid rgba(255,255,255,.34);
    padding: 12px 18px;
}

.c-popup_header-title {
    font-size: 18px;
    color: #fff;
}

.c-popup_header-link {
    font-size: 15px;
    color: #fff;
    margin-right: 16px;
}

.c-popup_header-link:last-child {
    margin-right: 0;
}

.c-popup_body {
    font-size: 14px;
    padding: 28px 26px 18px;
}

.c-popup_body-title {
    font-size: 21px;
    color: #585f69;
    margin-bottom: 19px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e3e3e3;
}

.c-popup_back {
    display: none;
    vertical-align: middle;
}

.c-form_item {
    margin-bottom: 16px;
}

.c-form_item--inline {
    display: inline-block;
    margin-right: 10px;
}
.c-form_item--inline:last-child {
    margin-right: 0;
}

.c-form_item:last-child {
    margin-bottom: 24px;
}

.c-popup-sent_title {
    color: #6C6C6C;
    font-size: 28px;
    font-weight: 100;
}

.c-form {
    line-height: 1;
}

.c-form input, .c-form textarea {
    bottom: 0;
    outline: 0;
    padding: 8px 14px;
    display: inline-block;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-size: 14px;
}
.c-form input[type="file"] {
    border: none;
}

.c-form input:focus, .c-form textarea:focus {
    border-color: #ff9b3d;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.c-form label {
    font-size: 14px;
    color: #585f69;
    margin-bottom: 8px;
    display: block;
}

.c-form label span {
    color: #ff9b3d;
}

.c-form_button {
    display: inline-block;
    color: #1E1E1E;
    font-size: 14px;
    padding: 9px 28px;
    color: #fff;
    background-color: #ff9b3d;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.c-form_button:hover {
    background-color: #FFAD60;
    border-color: #FF9B3D;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.c-form button:disabled {
    opacity: 0.65;
    background-color: #f4f4f4;
    color: #000;
}

.c-popup_reference {
    display: table-cell;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -.5px;
}
.c-popup_reference span {
    color: #ff9b3d;
    text-decoration: none;
}

body .c-form input[type="checkbox"],
body .c-form input[type="radio"] {
    display: none;
}

body .c-form input[type="checkbox"] + label,
body .c-form input[type="radio"] + label {
    display: block;
    padding-left: 26px;
    color: #585f69;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}


body .c-form input[type="checkbox"] + label::before,
body .c-form input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0 !important;
    top: -2px !important;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid #E3E3E3;
}
body .c-form input[type="checkbox"]:checked + label::before,
body .c-form input[type="radio"]:checked + label::before {
    content: '';
    background-color: #ff9b3d;
    border-color: #ff9b3d;
}

body .c-form input[type="checkbox"]:checked + label::after,
body .c-form input[type="radio"]:checked + label::after {
    content: "\f00c";
    position: absolute;
    left: 4px;
    top: 2px;
    font-family: "FontAwesome";
    font-size: 11px;
    color: #fff;
}

body .wrapper .c-form input[type="checkbox"]:checked + label::after,
body .wrapper .c-form input[type="radio"]:checked + label::after {
    content: "\f00c";
    position: absolute;
    left: 3px;
    top: 1px;
    font-family: "FontAwesome";
    font-size: 11px;
    color: #fff;
}

.c-popup_footer {
    border-top: 1px solid #e3e3e3;
    padding: 26px;
}

.c-popup_footer-title {
    color: #585F69;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.c-popup_social {
    font-size: 0;
}

.c-popup_social-item {
    display: inline-block;
    margin-right: 8px;
}
.c-popup_social-item:last-child {
    margin: 0;
}

/*popup регистрация юридических лиц*/
.c-popup_questionnaire-title {
    color: #585F69;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 16px;
}

/*вход*/
.c-popup_entry {
    width: 770px;
}

.c-popup_entry .c-popup_col-6 {
    vertical-align: top;
    border-right: 1px solid #e3e3e3;
}

.c-popup_entry .c-popup_col-6:last-child {
    border: none;
}

.c-popup_btn-reg {
    display: block;
    color: #fff;
    padding: 8px 16px;
    /*background-color: #95a1a8;*/
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.c-popup_btn-reg:hover {
    color: #fff;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /*background-color: #b0b7bb;*/
}


/*.c-popup_btn-reg--orange {*/
    /*background-color: #ff9b3d;*/
/*}*/

/*.c-popup_btn-reg--orange:hover {*/
    /*background-color: #FFAD60;*/
/*}*/

.c-popup_btn-reg-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

.c-popup_btn-reg-subtitle {
    font-size: 14px;
}

.c-popup_entry .c-popup_close div {
    background-color: #4e4e4e;
}

/*animate popup*/

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px); }
    70% {
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px); }
    90% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px); }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px); }
    70% {
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px); }
    90% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px); }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
}


/*popup show*/
.c-popup_show {
    display: block;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /*-webkit-animation: bounce 0.2s;*/
    /*animation: bounce 0.2s;*/
}

.is-hidden {
    display: none !important;
}

.body-popup {
    overflow: hidden;
    padding-right: 17px;
}

.is-visible {
    opacity: .4 !important;
    z-index: 999;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

/*profile*/
.profile {
    /*padding: 27px 40px 54px 27px;*/
}

.c-card-profile:first-child {
    margin-right: 65px;
}

.c-card-profile_title {
    color: #585F69;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 24px;
}

.color-orange {
    color: #ff9b3d !important;
}

.bg-orange {
    background-color: #ff9b3d;
}

.bg-orange:hover {
    background-color: #FFAD60;
}

.bg-grey {
    background-color: #95A1A8;
}

.bg-grey:hover {
    background-color: #b0b7bb;
}

.btn-left {
    text-align: left;
}

.btn-right {
    text-align: right;
}

.btn-center {
    text-align: center;
}

label .c-form_link {
    color: #9DA0A5;
    font-size: 12px;
    font-weight: 100;
    text-decoration: underline;
    margin-left: 10px;
}

/*avatar*/
.avatar-upload {
    position: relative;
    width: 115px;
    height: 115px;
    overflow: hidden;
    padding: 6px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    margin-bottom: 24px;
}

.avatar-upload_title {
    box-sizing: border-box;
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 90%;
    text-align: center;
    color: #fff;
    z-index: 999;
    margin: 0 6px;
    background-color: #ff9b3d;
}

.avatar-upload img {
    max-width: 101px;
    max-height: 101px;
}

.myContent.notmain .maincontent {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 528px;
}

/************************
history
*************************/

.btn-primary--grey {
    color: #585F69;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary--grey:hover {
    color: #fff;
    background-color: #FF9B3D;
    border-color: #FF9B3D;
}

.orders_btns {
    margin-bottom: 32px;
}

.orders_title {
    color: #585F69;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
}

.c-card-order {
    background-color: #FFF;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
}

.c-card-order_header {
    padding: 12px 18px;
    background-color: #F6F6F6;
}

.c-card-order_link {
    display: inline-block;
    color: #585F69;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

.c-card-order_link--icon {
    padding-left: 36px;
    position: relative;
}

.c-card-order_link--icon::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 27px;
    top: -7px;
    left: 0;
    background: url('images/icon-basket.png') 0 0 no-repeat;
}

.c-card-order_body {
    padding: 18px;
}

.c-card-order_address {
    color: #9DA0A5;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.c-card-order_item {
    margin-bottom: 8px;
}

.c-card-order_icon {
    display: block;
    float: left;
}

.c-card-order_item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-left: 46px;
    color: #585f69;
}

.c-card-order_item-subtitle {
    color: #9DA0A5;
    font-size: 14px;
    font-weight: 300;
    margin-left: 46px;
}

.mobileAuth a {
    display: inline-block;
}

.mobileAuth #ddEntry::before {
    background: none;
}

/*popup @media*/
@media (max-width: 767px) {
    .c-card-profile {
        margin-bottom: 12px;
    }
    .c-card-profile_title {
        margin-bottom: 12px;
    }
}


@media (max-width: 760px) {

    .c-popup_entry {
        width: 100%;
        transform: none;
    }

    .c-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        transform: none;
    }
    .c-popup .l-button {
        text-align: justify;
    }
    .c-popup .l-button::after {
        content: '';
        width: 100%;
        display: inline-block;
    }
    .c-popup_back {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .c-card-profile:first-child {
        margin-right: 0;
    }
}

@media (max-width: 568px) {
    .c-card-order .col-xs-6 {
        width: 100%;
        text-align: left;
        margin-bottom: 4px;
    }

    .c-popup_col-6 {
        display: block;
        width: 100%;
    }
}